@import "utils/variables";
@import "base/font";
@import "layouts/footer";
@import "layouts/heading";
body{
    margin: 0;
    width: 100%;
}
.heading{
    position: relative;
    &__arrow{
        position: absolute;
        left: 23px;
        top: 25px;
        color: $footer-price;
        font-size: 1.1em;
    }
    &__logo{
        @include head;
        padding-top: 5px; 
    }
}
.presentation{
    &__map{
        height: 50px;
        background-color: #eaeaea;
        box-shadow:inset 0px 3px 2px #cfcfcf;
        padding-left: 60px;
        @extend .layout-heading;
        &__marker{
            margin-right: 14px;
            padding-bottom: 6px;
        }
        &__search{
            border: none;
            border-width: 0px;
            background-color: #eaeaea;
            font-size: 1em;
        }
        &__search:focus{
            outline: none;
        }
    }
    &__text{
        flex-direction: column;
        text-align: center;
        background-color: #f6f6f6;
        height: 287px;
        &__title{
            width: 300px;
            margin:0 0 20px 35px;
            padding-top: 38px;
        }
        &__byline{
            margin:0 0 30px 0;
            font-weight: 100;
            font-size: 1.2em;
            opacity: 0.55;
        }
        &__btn{
            @include btn2;
        }
    }
}
.operation{
    margin-left: 20px;
    &__title{
        margin-bottom: 30px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__container2{
            position: relative;
            width: 335px;
            display: flex;
            flex-direction: row;
            &__number{
                color: white;
                display: flex;
                position: absolute;
                top: 8px;
                left: -2px;
                border-radius: 100%;
                background-color: $primary;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                opacity: 1;
            }
            &__button{
                @include btn;
                &--margin1{
                    margin-right: 29px;
                    opacity: 0.55;
                }
                &--margin2{
                    margin-right: 23px;
                    opacity: 0.55;
                }
            }
            &__button2{
                @include btn;
                background-color: lighten($color: $primary, $amount: 37%);
                &--margin3{
                    margin-right: 20px;
                    color: $primary;
                } 
            }
        }
    }
}
.restaurant{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 46px;
    &__link{
        text-decoration: none;
        color: black;
        cursor: pointer;
        &__fig{
            @include index-thumbnail;
            &__img{
                @include index-picture;
            }
            &__new{
                @include new;
            }
            &__caption{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
.figcaption{
    &__container{
        margin-left: 20px;
        &__title{
            margin: 15px 0 7px 0;
        }
        &__byline{
            margin: 0;
        }
    }
    &__container2{
        &__heart{
            font-size: 21px;
            margin-right: 14px;
            
        }
    }
}
.btn{
    @include btn2;
}
.section{
    position: relative;
    background-color: #f6f6f6;
    &__img{
        height: 255px;
        width: 100%;
        object-fit: cover;
    }
    &__container{
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        top: 205px;
        border-radius: 1.5em 1.5em 0 0;
        background-color: #f6f6f6;
        width: 100%;
        &__title{
            font-family:'Shrikhand' , sans-serif;
            padding-left: 19px;
            margin-bottom: 0;
            font-size: 1.8em;
        }
        &__heart{
            margin:20px 38px 0 0;
            font-size: 1.7em;
        }
    }
    &__article{
        margin-left: 14px;
        &__title{
            margin-top: 30px;
            font-size: 1em;
            font-weight: 100;
            width: 40px;
            border-bottom: 3px solid $tertiary;
            padding-bottom: 6px;
        }
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            border-radius: 1em;
            box-shadow: 2px 5px 10px #c5c5c5;
            width: 349px;
            margin-bottom: 14px;
            &__container2{
                margin-left: 11px;
                &__title{
                    width: 275px;
                    margin: 12px 0 0 0;
                }
                &__byline{
                    width: 275px;
                    height: 19px;
                    margin:5px 0 12px 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            &__container3{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                position: relative;
                &__price{
                    margin-bottom: 14px;
                    font-weight: bold;
                    margin-right: 22px;
                    color: $footer-price;
                }
                &__checkbox{
                    width: 59px;
                    height: 100%;
                    border-radius: 0 1em 1em 0;
                    background-color: $tertiary;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    margin-left: 0px;
                    position: absolute;
                    left: 50px;
                }
            }
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
        width: 100%;
    }
}
.fa-heart{
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "\f004";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-linear-gradient($primary,$secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-out;
        font-weight: bold;
    }
}