@import "utils/variables";
@import "base/font";
@import "layouts/footer";
@import "layouts/heading";
body{
    margin: 0;
}
i{
    margin-right: 1em;
}
.heading{
    &__logo{
        @include head;
    }
    &__img{
        width: 375px;
        height: 260px;
    }
    &__map{
        height: 50px;
        @extend .layout-heading;
        &search{
            border: 0;
            -webkit-appearance: none;
            outline: none;
        }
    }
    &__text{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &__title{
            width: 300px;
            margin-left: 30px;
        }
        &__byline{
            margin-left: 10px;
            font-size: 1.1em;
        }
        &__btn{
            @include btn2;
        }
    }
}
.section{
    &__title{
        font-family:'Shrikhand' , sans-serif;
        font-style: italic;
    }
}
.operation{
    margin-left: 20px;
    &__title{
        margin-bottom: 30px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__container2{
            position: relative;
            width: 335px;
            display: flex;
            flex-direction: row;
            justify-self: start;
            &__number{
                color: white;
                display: flex;
                position: absolute;
                top: 11px;
                left: -3px;
                border-radius: 100%;
                background-color: $primary;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
            }
            &__button{
                @include btn;
            }
        }
    }
}
.restaurant{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    &__link{
        text-decoration: none;
        color: black;
        cursor: pointer;
        &__fig{
            @include index-thumbnail;
            &__img{
                @include index-picture;
            }
            &__new{
                @include new;
            }
            &__caption{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
.figcaption{
    &__container{
        margin-left: 20px;
        &__title{
            margin: 15px 0 7px 0;
        }
        &__byline{
            margin: 0;
        }
    }
    &__container2{
        &__heart{
            font-size: 21px;
        }
    }
}
.btn{
    @include btn2;
}