/* variables */
/* mixin */
@import url("https://fonts.googleapis.com/css3? family = Roboto:wght@300;400;500;600;700;800;900& display = swap");
@import url("https://fonts.googleapis.com/css3? family = Shrikhand:wght@300;400;500;600;700;800;900& display = swap");
header, footer, .operation, .restaurant {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: gray;
  padding-bottom: 37px;
}
.footer__logo--size {
  fill: white;
  height: 18px;
  width: 100px;
  margin: 20px 0 20px 20px;
  filter: invert(1);
}
.footer__link {
  margin: 0 0 9px 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  align-items: center;
}
.footer__link__helping {
  font-size: 13px;
}
.footer__link__byline {
  margin: 0;
}

.layout-heading, .heading__map, .heading__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

i {
  margin-right: 1em;
}

.heading__logo {
  height: 63px;
}
.heading__logo--size {
  height: 28px;
  width: 164px;
}
.heading__img {
  width: 375px;
  height: 260px;
}
.heading__map {
  height: 50px;
}
.heading__mapsearch {
  border: 0;
  -webkit-appearance: none;
  outline: none;
}
.heading__text {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.heading__text__title {
  width: 300px;
  margin-left: 30px;
}
.heading__text__byline {
  margin-left: 10px;
  font-size: 1.1em;
}
.heading__text__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  background-color: #ff79da;
  color: white;
  text-decoration: none;
  border-radius: 2em;
  margin-left: 10px;
}

.section__title {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
}

.operation {
  margin-left: 20px;
}
.operation__title {
  margin-bottom: 30px;
}
.operation__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.operation__container__container2 {
  position: relative;
  width: 335px;
  display: flex;
  flex-direction: row;
  justify-self: start;
}
.operation__container__container2__number {
  color: white;
  display: flex;
  position: absolute;
  top: 11px;
  left: -3px;
  border-radius: 100%;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.operation__container__container2__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px 10px;
  height: 72px;
  width: 325px;
  border-radius: 1em;
  box-shadow: 2px 2px 2px 2px gray;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.restaurant__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.restaurant__link__fig {
  width: 335px;
  height: 251px;
  border-radius: 1em;
  box-shadow: 0 4px gray;
  margin: 0 0 18px 0;
  position: relative;
}
.restaurant__link__fig__img {
  width: 335px;
  height: 174px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.restaurant__link__fig__new {
  width: 79px;
  height: 29px;
  background-color: #99e2d0;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 2px;
}
.restaurant__link__fig__caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.figcaption__container {
  margin-left: 20px;
}
.figcaption__container__title {
  margin: 15px 0 7px 0;
}
.figcaption__container__byline {
  margin: 0;
}
.figcaption__container2__heart {
  font-size: 21px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  background-color: #ff79da;
  color: white;
  text-decoration: none;
  border-radius: 2em;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
