.layout-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin head{
    height: 58px;
    @extend .layout-heading;
     &--size{
        height: 29px;
        width: 164px;
    }
}